.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16;
    box-sizing: border-box;
}

@import "reset";
@import "navbar";
@import "hero";
@import "design-inspires";
@import "featured-products";
@import "home";
@import "peoples";
@import "footer";